br
br
.center-align(style='color: #43a047', *ngIf='submitted')
  i.material-icons(style='font-size:64px') check_circle
  h4 Success
  br
  br
  a(routerLink='/recharge/mobile') Recharge Another
.row(*ngIf='!submitted')
  form.col.s12((ngSubmit)='recharge()' #rechargeForm='ngForm')
    .row
      .input-field.col.s2
        =" "
      .input-field.col.s6
        input#pay_cc_number.form-control(
          type='text', name='number',
          [(ngModel)]='model.number', required)
        label(for='recharge_number') Credit Card Number
      .input-field.col.s2
        input#pay_cc_cvv.form-control(
          type='text', name='coupon',
          [(ngModel)]='model.cvv' required)
        label(for='recharge_coupon') CVV
    .row
      .input-field.col.s2
        =" "
      .input-field.col.s6
        input#pay_cc_name.form-control(
          type='text', name='amount', required
          [(ngModel)]='model.cardname')
        label(for='recharge_number') Name on the Card
      .input-field.col.s2
        input#pay_cc_expiry.form-control(
          type='text', name='amount', required
          [(ngModel)]='model.expirydate')
        label(for='recharge_number') Expiry Date
    .row
      .input-field.col.s12.center-align
        | Amount Payable: $ {{model.amountPayable}}
      .input-field.col.s12.center-align
        button.btn.waves-effect.waves-light(type='submit', name='recharge')
          | Pay - ${{rechargeData.amountPayable}}
          i.material-icons.right send
